---
layout: default
sobre: "<p>A Sara Biscaia e o Zé Castro Caldas, ambos gostam de viajar e preparam
  em Portugal esta possibilidade de levar outros viajantes a dois sitios com os quais
  criaram uma rede de contactos e acima de tudo Amizades, de forma a visitar cada
  um desses sitios a partir do acompanhamento de quem lá habita, são eles quem nos
  guiam, mostram e partilham as suas histórias. Porque não há quem conheça um determinado
  contexto como quem nele vive. Os locais que visitamos serão sempre dentro de um
  registo em turismo de pequena escala, em que o impacto de quem os visita é essencial
  na dinamização directa na economia local ao dar prioridade e envolver pequenos negócios
  e as comunidades das zonas onde vamos estar.</p>"

---
<main>
    <div class="about-us"><%= @page.content %></div>
    
    
    <div class="team-container">
        <div>
        <%= image_tag 'about-01.png', class: "team-img" %>
        <div class="border border-dark team-info">Zé, Arquitecto de formação, acompanha grupos na viagem à Amazónia ― Lisboa</div>
        </div>
        <div>
        <%= image_tag 'about-02.png', class: "team-img" %>
        <div class="border border-dark team-info">Sara, formada em Marketing Digital, acompanha grupos na viagem à Amazónia ― Santarém</div>
        </div>
        <div>
        <%= image_tag 'about-03.png', class: "team-img" %>
        <div class="border border-dark team-info">Roberto, anfitrião da Pousada Garrido é também Gerente de atividades ― Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-04.png', class: "team-img" %>
        <div class="border border-dark team-info">Valter ― Artesão em madeira ― Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-05.png', class: "team-img" %>
        <div class="border border-dark team-info">Manoel ― Guia de trilha ― Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-06.png', class: "team-img" %>
        <div class="border border-dark team-info">Demétrio ― Anfitrião da Casa de Farinha ― Inglês</div>
        </div>
        <div>
        <%= image_tag 'about-07.png', class: "team-img" %>
        <div class="border border-dark team-info">Nadia ― Anfitriã e Gerente da Pousada Garrido ― Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-08.png', class: "team-img" %>
        <div class="border border-dark team-info">Renato, marceneiro de formação é Chef de Cozinha na Pousada Garrido ― Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-09.png', class: "team-img" %>
        <div class="border border-dark team-info">Neide ― Professora de artesanato e gerente da loja de artesanato ― Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-10.png', class: "team-img" %>
        <div class="border border-dark team-info">Geisy ― equipe da cozinha e hospedagem na Pousada Garrido- Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-11.png', class: "team-img" %>
        <div class="border border-dark team-info">Giovane ― Guia de trilha ― Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-12.png', class: "team-img" %>
        <div class="border border-dark team-info">Toti ― Um dos primeiros habitantes da comunidade, contador de histórias ― Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-13.png', class: "team-img" %>
        <div class="border border-dark team-info">Izolena ― Lider da comunidade e Diretora da escola e guia de atividade ― Tumbira</div>
        </div>
        <div>
        <%= image_tag 'about-14.png', class: "team-img" %>
        <div class="border border-dark team-info">Nadia ― Anfitriã e Gerente da Pousada Garrido ― Tumbira</div>
        </div>
    </div>
    </main>